
*{
	font-family: 'PT Sans', sans-serif;
}

.tarea
{
	font-family: 'PT Sans', sans-serif;
	background-color: rgb(69, 137, 247);
	color:white;
	height:24px;
	border-radius: 25px;
	margin:3px;
}

.tareaPendiente
{
	font-family: 'PT Sans', sans-serif;
	background-color: rgb(69, 137, 247);
	color:white;
	height:24px;
	border-radius: 25px;
	margin:3px;
}

.tareaFinalizada
{
	font-family: 'PT Sans', sans-serif;
	background-color: rgb(243, 26, 87);
	color:white;
	height:24px;
	border-radius: 25px;
	margin:3px;
}
#contenedorPrincipal
{	

}
#contenedorPrincipal:after{
    content: "";
    display: table;
    clear: both;
}
	
#listaTareas
{
	float: left;
	width:40%;
}
#descripcionTareas
{
	margin:10px;
	float: left;
	width:50%;	
	/*visibility:hidden;*/
}

.btnAnhadir, .btnEliminar, .btnEstadoPendiente, .btnEstadoFinalizada
{
	border: 0;
    height: 64;
    width: 64;
}
.btnAnhadir
{
	background-image: url("res/anhadir.png");	
}

.btnEliminar {
    background-image: url("res/eliminar.png");
}

.btnEstadoPendiente {
    background-image: url("res/estadoPendiente.png");
}

.btnEstadoFinalizada {
    background-image: url("res/estadoFinalizada.png");
}